/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 'Lato', sans-serif;
}
header{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
}

.navbar-default{
	background-color: transparent;
	border: none;
}


.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
   
}
.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
}

.title-second{
	color: white;

}

.tres h1{
	color: green;
}


.informacion p{
	color: white;
	
}

.segunda{
	padding: 0.8em;
	float: right;
}

.segunda h4{
	color: green;
}

.informacion{
	padding: 110px;
}

.informacion button{
	background-color: green;
	color: white;
}

.tres{
	background-color: #D5CC5F;
	padding: 100px 0;
	margin-bottom: 0;
}

row img{
	width: 76%;
	background-position: center;
	background-repeat: no-repeat;
}

.img-responsive{
	border: solid 12px white;

}

.tres h4{
	color: white;
}

.tres h1{
	color: green;
}

.tres p{
	color: white;
}

.tres button{
	background-color: green;
	color: white;
}

.cuarta-seccion{
	background-image: url(../img/all.jpg);
	height: 90vh;
	background-size: cover;
}

.cuarta h5{
	color: white;
}

.cuarta p{
	color: white;	
}

.text{
	color: black;
}

.container{
color: #D5CC5F;
margin-top: 60px;
margin-bottom: 60px;
}

.text-help i{
color: #D5CC5F;
}

.seis{
	background-color: #A89F68;
	padding: 40px;
	margin-bottom: 0;
}

.signo {
	color: #fff;
	font-size: 1em;
	vertical-align: 3em;
}
.precio {
	color: #fff;
	font-size: 5em;
}
.moneda {
	color: #fff;
	font-size: 1em;
}
.seis button{
	background-color: #41521f;
}

footer {
	padding: 75px 0;
	background-color: #41521f;
	color: #fff;
}
footer a {
	display: block;
	color: #A89F68;
}
.footer {
	padding-top: 2.5em;
}

