/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	font-family: 'Lato', sans-serif;
}
header{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size: cover;
}

.navbar-default{
	background-color: transparent;
	border: none;
}


.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
   
}
.navbar-default .navbar-nav>li>a{
    color: white;
    font-weight: bold;
}

.title-second{
	color: white;

}


.informacion p{
	color: white;
	
}

.segunda{
	padding: 0.8em;
	float: right;
}

.segunda h4{
	color: green;
}

.informacion{
	padding: 110px;
}

.info{
	background-color: #D5CC5F;
}
